<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>HEALTH ADVICE GROUP</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body style="background-color: black;">
    <center>
        <div style="background-color: black; color: white;">
            <h1 style="margin: 0%; font-size: 4em; white-space: nowrap;">HEALTH ADVICE GROUP</h1>
        </div>
        <div style="background-color: white; color: black;">
            <i class="bannertext">Health Advice Group provides weather info and health advice</i>
        </div>
        <div style="background-color: black; color: white;">
            <h1 style="margin: 0%; font-size: 2em; white-space: nowrap;">FORECAST</h1>
        </div>
        
        <div style="background-color: white; color: black; width: fit-content;">
            <img style="margin: 0%;" src="https://waspventman.co.uk/img/wasp.png" alt=""><br>
            <i>It's looking wild outside today.</i>
        </div>
        <br>
    </center>
    <button onclick="window.location = PHiL">test :3</button>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>