<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OS Mock 2</title>
</head>
<body style="margin: 0%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="margin: 0%; background-color: black;"><h1 style="color: white; margin: 0%; text-align: center;">HEALTH ADVICE GROUP</h1></div>
    <div style="margin: 0%; background-color: gray;"><i style="text-align: center;">hi :3<br><br><br>hi2 :3</i></div>
    
    <button onclick="location.reload()">balls</button>
</body>
</html>