<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>HEALTH ADVICE GROUP</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body style="background-color: black;">
    <div style="background-color: black; color: white;">
        <h1 style="margin: 0%; font-size: 4em; white-space: nowrap;">HEALTH ADVICE GROUP</h1>
    </div>
    <div style="background-color: white; color: black;">
        <i class="bannertext">Health Advice Group provides weather info and health advice</i>
    </div>
    <div style="background-image: url('https://waspventman.co.uk/img/wasp.png');">
        <br><br><br><br><br><br>
    </div>
    <br>
    <button onclick="window.location = PHiL">test :3</button>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>