<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <center style="background-image: url('https://art.ngfiles.com/images/3074000/3074562_waspventman_budget-static.png?f1677696189'); ">
        <center style="max-width: 800px; background-color: black;">
            <a style="color: white;" href="../">../</a><br>
            <button onclick="window.location = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'">press to make the<br>settings happen</button>
        </center>
    </center>
</body>
</html>